.full-screen{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.full-screen:hover{
    animation: fullbtn .3s ease;
    animation-fill-mode: forwards;
}
#close-btn:hover{
    animation: fullbtn .3s ease;
    animation-fill-mode: forwards;
}
@keyframes fullbtn{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.4)
    }
}
#full-cont{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: #fff;
    overflow: auto;
}
#close-btn{
    position: absolute;
    top: -9px;
    right: 15px;
    cursor: pointer;
    font-size: 35px;
}
.delay-1{
    animation-delay: .1s;
}
.delay-2{
    animation-delay: .2s;
}
.delay-3{
    animation-delay: .3s;
}
.delay-4{
    animation-delay: .4s;
}
.delay-5{
    animation-delay: .5s;
}
.delay-6{
    animation-delay: .6s;
}
.delay-7{
    animation-delay: .7s;
}
.delay-8{
    animation-delay: .8s;
}
.delay-9{
    animation-delay: .9s;
}
.delay-10{
    animation-delay: 1s;
}

.clock-animated{
    animation: life 1.1s ease infinite;
}
@keyframes life{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.2)
    }
    100%{
        transform: scale(1)
    }
}

.card-course{
    cursor: pointer;
}
.card-course:hover{
    animation: shrink .5s ease;
    animation-fill-mode: forwards;
}

@keyframes shrink{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.05)
    }
}
.white{
    color: white;
}

.card-height{
    height: 450px;
}

.card-height-d{
    height: 490px;
}

.mypreload{
    position: relative;
}
.myload{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
}

.myload div{
    margin-top: 10%
}

.border-radius-0{
    border-radius: 0;
}

/* Font Size */
.fs-100{
    font-size: 100px;
}
.fs-110{
    font-size: 110px;
}
.fs-120{
    font-size: 100px;
}
.fs-130{
    font-size: 100px;
}
.fs-140{
    font-size: 100px;
}
.fs-150{
    font-size: 100px;
}
.fs-160{
    font-size: 100px;
}
.fs-170{
    font-size: 100px;
}
.fs-180{
    font-size: 100px;
}
.fs-190{
    font-size: 100px;
}
.fs-200{
    font-size: 100px;
}

.card-lecturer{
    transition: all .4s ease;
}

.card-lecturer:hover{
    animation: zoom .4s;
    animation-fill-mode: both;
    background: #f2f4f8;
    cursor: pointer;
}
@keyframes zoom{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(.97)
    }
}

.state{
    border-radius: 20px;
}
.state-width{
    width: 50%;
    font-size: 95%
}

.status-class{
    border-radius: 20px;
    font-size: 70%;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    width: 100%;
}
.started{
    animation: life 1.1s ease infinite;
}

.menu:hover{
    animation: zoom .4s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
.menu .card{
    height: 290px
}

.display-5{
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 1.2;
}

.rd-10{
    border-radius: 10px
}
.rd-15{
    border-radius: 15px
}
.rd-20{
    border-radius: 20px
}
.rd-25{
    border-radius: 25px
}
.rd-30{
    border-radius: 30px
}
.rd-35{
    border-radius: 35px
}
.rd-40{
    border-radius: 40px
}